body {
  width: 100%;
  height: 100%;
  font-family: 'Bitter', sans-serif;
  color: white;
  position: relative;
}

.navbar-nav {
  /* color: #000000; */
  float: right;
  width: 55%;
}

/* .nav-link,
.navbarL-brand:hover {
color: gold;
} */

#mainNav {
  font-family: 'Bitter', sans-serif;
  align-content: center;
  text-transform: uppercase;
  background-color: #3e90d4;
  opacity: 0.8;
  height: 9.5rem;

}

html {
  width: 100%;
  height: 100%;
}


h4 {
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 16px;
  margin: 0 auto;
  /* display: inline */
}

.logOut {
  float: right;
  height: 25px;
  width: 75px;
  border: 1px solid #000000;
  background: #fff;
  color: rgb(175, 52, 52);
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  font-family: 'Play', sans-serif;
  padding-bottom: 5px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 1.5rem;


}

p {
  font-size: 20px;
}

.navbarL-brand {
  font-size: 40px;
}

.navbarL-brand, .nav-link {
  color: #ffffff;
}

.navbarL-brand:hover, .nav-link:hover {
  color: gold ;
}

.demoUser {
  border: 1px solid black;
}
.demo-creds {
  font-weight: 600;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
  }
}

#mainNav .navbar-brand {
  font-weight: 700;
}

  @media (min-width: 768px) {
    #mainNav a {
      padding: 5px;
  }

 
}

@media (min-width: 768px) {
  .masthead {
    height: 750px;
    padding: 0;
  }
  #mainNav a {
    padding: 5px;
}

  .masthead .intro-body .brand-heading {
    margin-top: 200px;
    text-align: right;
    color: #31708F;
    font-size: 100px;
  }

  .masthead .intro-body .intro-text {
    text-align: right;
    color: black;
    font-size: 22px;
  }
}

.navbarL-brand {
  font-size: 30px;
  width: 200px;
  display: inline-block;
}

.content-section {
  padding-top: 100px;
}
  
.details-section {
  width: 100%;
  height: auto;
  padding: 50px 0;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.signUpForm, .logInForm {
  text-align: center;
  width: 100%;
  position: relative;
}

.btn-success {
  width: 150px;
  height: 28px;
  margin-bottom: 10px;
}

.btn-success:hover {
  text-shadow: 2px 2px 4px #000000;
  background-color: #0E9300;
  border-color: #00000061;
  color: white;  
}

@media (min-width: 767px) {
  #mainNav a {
    padding: 5px;
}
  .logos {
    height: 550px;
    width: 100%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media (min-width: 767px) {
  #mainNav a {
    padding: 5px;
}
  .content-section {
    padding-top: 150px;
  }

  .details-section {
    padding: 150px 0;
  }

  #map {
    height: 350px;
    margin-top: 250px;
  }
}

@media (max-width: 700px) {
  #mainNav {
    padding: 2rem;
    height: 10rem;
  }

  .results {
    width: 95%;
  }

  .navbar-nav {
    width: 100%;
  }

  .landingSearch  {
    width: 70% !important;
    margin: 10px 0 !important;
  }

  .hack-search-btn {
    width: 70% !important;
  }
}
