footer{
    width: 100%;
    font-family: 'Oxygen', sans-serif;
    align-content: center;
    text-transform: uppercase;
    z-index: 0;
    background-color: #3e90d4;
    opacity: 0.8;
    padding: 1.5rem;
    margin-top: 15rem;
    text-align: center;
}

footer p {
    font-size: 20px;
    margin: 9px;
    color: #000000;
    font-weight: 500;
    z-index: 10;
}
